#footer
  .wrap
    .wrap-main
      .top #[a(href='/') 站点总访客数：1588] #[a(href='/') 站点总访问量：5287]
      .bottom
        div: a(href='/') Quanzaiyu © 2015 - 2018  滇ICP备16006294号
        div: a(href='/') Power by Hexo