extends ./_partial/layout.pug

block prepend head
  title archive

block append content
  div=page.archive	
  div=page.year
  div=page.month
  - page.posts.each(post => {
    - var link = post.link || post.path
    p: a.post-title(href=url_for(link))= post.title || _p('no_title')
    time.post-meta__date #[=date(post.date, config.date_format)]
    //- .content=post.excerpt
  - })
